* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.primeira {
    background-color: brown;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda {
    background-color: aqua;
    width: 150px;
    height: 150px;
    margin: 8px;
}

.terceira {
    background-color: green;
    width: 150px;
    height: 150px;
    margin: 8px;
}