.title {
    font-size: 48px;
}

.mensagem {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;

}

.mensagemTitulo {
    font-size: 18px;
}

.mensagemConteudo {
    font-size: 14px;
}

.mensagemIsError {
    border-color: red;
    background-color: rgb(226, 116, 116);
    color: red;
}

.accordion {
    border: 1px solid black;
}

.accordionHeader {
    padding: 8px;
    cursor: pointer;
}

.accordionContent {
    padding: 8px;
    border-top: 1px solid #eee;
    display: none;
}

.accordionIsOpen .accordionContent {
    display: block;
}